<h1>Venue: $venue.getVenueName()</h1>

<hr>

<form action="/venues/$venue.getVenueId()" method="post">
  <label for="update_venue_name">Update Venue Name</label>
  <input type="text" id="update_venue_name" name="update_venue_name" class="form-control">
  <br>
  <button id="update_venue_button" type="submit" class="btn btn-primary">Update Venue</button>
</form>

<br>
<a href="/venue/$venue.getVenueId()/delete" class="btn btn-danger">Warning: This will delete this venue!!!</a>
